h1{
    text-align: center;
    background-color: grey;
}

body, html {
    height: 100%;
}

#hero-img {
    width: 100%;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-msg h4 {
    color: white;
    text-align: center;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    color: white;
    text-align: center;
}